/* navbar properties */
.navbar {
  background-color: rgba(163, 163, 163, 0.9);
}

.navbar-z {
  z-index: 1;
}

.navbartextcolor a, button, li {
  color: rgb(241, 203, 131) !important;
}

.show .iconalign {
  flex-direction: row;
}

.show .iconpad  {
  padding-right: 12px !important;
}

.navbar-light .navbar-toggler {
  border-color: transparent;
}


/* intro section properties */
.background {
  background-image: url("C:/Users/sps_user/Desktop/Programming software/Webdesignium/myportfolio/images/introbackground.jpg");
  background-repeat: no-repeat;
  height: 600px;
  background-position: center;
  background-size: cover;
}

.backgroundpos {
  z-index: -1;

}

.introtextcolor {
  color: white;
}

.titlefont h1 {
  font-size: 60px;
}

.hrprop li {
  padding-top: 2.5rem;
}

.btnprop {
  padding: .1rem .1rem;
  font-size: .875rem;
  line-height: 1;
  border-radius: .2rem;
}

/* Recent works */
.reworkcontainer {
  padding-right: 70px !important;
  padding-left: 70px !important;
  padding-top: 60px !important;
}

.headingprop {
  margin-bottom: 30px;
    font-weight: 500;
    line-height: 1.2;
}

.workbackground {
  background-color: #f8f6f4;
}

/* contact properties */
.column-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.contact_padding {
  padding: 60px 100px 40px;
}

.listprop ul, li {
  list-style: none;
  display: inline-block;
}

/* global properties */
.goldcolortext, a {
  color: #c0a064;
}
.goldcolorborder {
  background-color: transparent;
  border: 1px solid #c0a064;
}

.darkborder {
  border: 1px solid #2c2a28;
}

.logocolor a {
  color: #2c2a28;
}

.darktext {
  color: #6c6a68;
}
